# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.lock
!pubspec.lock

# Cache (project-specific)
.gradle/
.gradle_user_home/
.pub_cache/
.pub-cache/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
